<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Web app</title>
  <meta name="author" content="Lungu Andrei" />
  <meta name="Resource-type" content="Document" />
  <link rel="shortcut icon" href="media/icon.png" type="image/x-icon">
  <!-- bootstrap -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
  <!-- lity (pentru video popup) -->
  <link href="lity.css" rel="stylesheet">
  <!-- lc_lightbox -->
  <link href="lc_lightbox.min.css" rel="stylesheet" />
  <link href="skins/dark.css" rel="stylesheet" />
  <link href="https://cdn.jsdelivr.net/npm/@splidejs/splide@2.4.21/dist/css/themes/splide-sea-green.min.css"
    rel="stylesheet">
  <link href="fullpage.css" rel="stylesheet">
  <link
    href="https://cdn.jsdelivr.net/npm/@splidejs/splide-extension-video@0.4.6/dist/css/splide-extension-video.min.css"
    rel="stylesheet">
  <link type="text/css" rel="stylesheet" href="https://www.gstatic.com/firebasejs/ui/4.6.1/firebase-ui-auth.css" />
  <!-- mine -->
  <link rel="stylesheet" type="text/css" href="style.css" />
  <!-- ------------------------------------------------------------------------------------------------------- -->
  <!-- SCRIPTS -->
  <!-- jquery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <!-- popper-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.0/umd/popper.min.js"></script>
  <!-- bootstrap -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"></script>
  <!-- fullpage (before jquery!!) -->
  <script type="text/javascript" src="fullPage.js/dist/fullpage.min.js"></script>
  <!-- lity (for video popup) -->
  <script src="lity.js"></script>
  <!-- alloy_finger (image gallery) -->
  <script src="alloy_finger.min.js"></script>
  <script src="lc_lightbox.lite.min.js"></script>
  <!-- splide(for video slider) -->
  <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@2.4.21/dist/js/splide.min.js"></script>
  <script
    src="https://cdn.jsdelivr.net/npm/@splidejs/splide-extension-video@0.4.6/dist/js/splide-extension-video.min.js"></script>
  <!-- jQuery Custom Scroller CDN -->
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.16.1/TweenMax.min.js"></script> <!-- for sns buttons-->
  <!-- firebase -->
  <!-- The core Firebase JS SDK is always required and must be listed first -->
  <script src="https://www.gstatic.com/firebasejs/8.3.1/firebase-app.js"></script>
  <!-- Add SDKs for Firebase products that you want to use https://firebase.google.com/docs/web/setup#available-libraries -->
  <script src="https://www.gstatic.com/firebasejs/8.3.1/firebase-analytics.js"></script>
  <script src="https://www.gstatic.com/firebasejs/8.3.1/firebase-auth.js"></script>
  <script src="https://www.gstatic.com/firebasejs/8.3.1/firebase-firestore.js"></script>
  <script src="firebase.js"></script>
  <!-- font icon-->
  <script src="https://kit.fontawesome.com/a69a1aaae4.js" crossorigin="anonymous"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/emailjs-com@2/dist/email.min.js"></script>
  <script type="module" src="login.js"></script>
  <script type="module" src="contact-form.js"></script>
  <script type="module" src="app.js"></script>
  <!-- <script type="module" src="load3D_glb.js"></script> -->
  <!-- stripe before store.js-->
  <script src="https://checkout.stripe.com/checkout.js" defer></script>
  <script>var stripePublicKey = '<%= stripePublicKey %>'</script>
  <script src="store.js" defer></script>
  <script src="FileSaver.js"></script>
  <script src="imgs.js" type="module"> </script>
</head>

<body>
  <div id="header">
    <!-- LEFT SIDE ICON + MENU  -->
    <div class="navigation">
      <div class="toggle-wrapper">
        <i class="bi bi-list show"></i>
        <i class="bi bi-x hide"></i>
      </div>
      <ul class="menu">
        <li data-menuanchor="home" class="active"><a href="#home">Home</a></li>
        <li data-menuanchor="3d-view"><a href="#3d-view">3D view</a></li>
        <li data-menuanchor="images"><a href="#images">Images</a></li>
        <li data-menuanchor="videos"><a href="#videos">Videos</a></li>
        <li data-menuanchor="shop"><a href="#shop">Shop</a></li>
        <li data-menuanchor="contact"><a href="#contact">Contact us</a></li>
      </ul>
    </div>
    <!-- RIGHT SIDE ICONS  -->
    <i class="bi bi-bag-check" id="bag-btn"></i>
    <i class="bi bi-house" id="home-btn"></i>
    <div id="auth">
      <i class="bi bi-person-bounding-box show" id="login-btn"></i>
      <i class="bi bi-box-arrow-right" id="signout"></i>
      <div class="auth-form">
        <div class="align">
          <img class="logo" src="media/logo.svg" onContextMenu="return false;">
          <div class="card">
            <div class="head">
              <div></div>
              <a id="login" class="selected" href="#login">Login</a>
              <a id="register" href="#register">Register</a>
              <div></div>
            </div>
            <div class="tabs">
              <form>
                <div class="errorMsg"></div>
                <div class="inputs loginform">
                  <div class="input">
                    <input placeholder="Email" type="email" id="lemail" required>
                    <i class="bi bi-envelope"></i>
                  </div>
                  <div class="input">
                    <input placeholder="Password" type="password" id="lpassword" required>
                    <i class="bi bi-shield-lock"></i>
                  </div>
                </div>
                <button id="signin">Login</button>
                <div id="authProviders">
                  &nbsp; <p>OR USE ANOTHER ACCOUNT</p>
                  <i class="bi bi-google" id="googlesignin" title="google"></i>
                  <i class="bi bi-facebook" id="facebooksignin" title="facebook"></i>
                  <i class="bi bi-twitter" id="twittersignin" title="twitter"></i>
                  <i class="fab fa-yahoo" id="yahoosignin" title="yahoo"></i>
                </div>
              </form>
              <form>
                <div class="errorMsg"></div>
                <div class="inputs registerform">
                  <div class="input">
                    <input placeholder="Email" type="email" id="remail" required>
                    <i class="bi bi-envelope"></i>
                  </div>
                  <div class="input">
                    <input placeholder="Password" type="password" id="rpassword" required>
                    <i class="bi bi-shield-lock"></i>
                  </div>
                </div>
                <button id="signup">Register</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="socialShare">
      <div class="socialBox">
        <i class="bi bi-share" id="share-btn"></i>
        <div id="socialGallery">
          <div class="socialToolBox container">
            <a class="facebook" href="#" target="_blank"><i class="bi bi-facebook"></i></a>
            <a class="twitter" href="#" target="_blank"><i class="bi bi-twitter"></i></a>
            <a class="whatsapp" href="#" target="_blank"><i class="bi bi-whatsapp"></i></a>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div id="fullpage">
    <!-- PAGE 1 --- BG VIDEO + YT EMBED PLAY BUTTON  -->
    <div class="section container" id="section1" data-anchor="home">
      <h2>Wonbin<br>Character Presentation</h2>
      <a href="https://www.youtube.com/watch?v=phGur4M9ics" data-lity>
        <button type="button" class="btn btn-light" id="button1">
          <!-- imi pot face propriul SVG pentru play -->
          <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="rgba(0,255,255,1)" class="bi bi-play-btn"
            viewBox="0 0 16 16">
            <path d="M6.79 5.093A.5.5 0 0 0 6 5.5v5a.5.5 0 0 0 .79.407l3.5-2.5a.5.5 0 0 0 0-.814l-3.5-2.5z" />
            <path
              d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm15 0a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4z" />
          </svg>
        </button>
      </a>
      <!-- BACKGROUND VIDEO -->
      <div id="bg1">
        <video loop muted data-autoplay id="bg-video1" src="media/video.mp4" type="video/mp4"></video>
      </div>
    </div>

    <!-- PAGE 2 --- 3D MODEL VIEW  -->
    <div class="section" id="section2" data-anchor="3d-view">
      <div id="threedbody"></div>
    </div>

    <!-- PAGE 3 IMAGE GALLERY -->
    <div class="section container-fluid" id="section3" data-anchor="images">
      <div class="slide" id="slide1" data-anchor="slide1">
        <h2>Gallery</h2>
        <div class="gallery-container">
          <div class="container-fluid">
            <div class="row">
              <div class="col">
                <% images.images.forEach(function(image) { %>
                <a class="mybox" href="<%= image.href %>" title="<%= image.title %>" data-lcl-txt="<%= image.desc %>"
                  data-lcl-author="Andrei Lungu" onContextMenu="return false;">
                  <svg viewBox='0 0 120 100' class="border-img">
                    <defs>
                      <pattern id="<%= image.pattern %>" patternUnits="userSpaceOnUse" width="120" height="100">
                        <image href="<%= image.href %>" x="0" y="0" width="130" height="130" />
                      </pattern>
                    </defs>
                    <path
                      d='M38,2 L82,2 A12,12 0 0,1 94,10 L112,44 A12,12 0 0,1 112,56L94,90 A12,12 0 0,1 82,98 L38,98 A12,12 0 0,1 26,90 L8,56 A12,12 0 0,1 8,44 L26,10 A12,12 0 0,1 38,2'
                      style="stroke:var(--color1); fill: url(#<%=image.pattern%>)" />
                  </svg>
                </a>
                <% }) %>
              </div>
            </div>
          </div>
          <% images.hidden.forEach(function(image) { %>
          <a class="mybox" href="<%= image.href %>" title="<%= image.title %>" data-lcl-txt="<%= image.desc %>" data-lcl-author="Andrei Lungu">
            <img src="<%= image.href %>" class="hide-img" alt="<%= image.desc %>" onContextMenu="return false;">
          </a>
          <% }) %>
        </div>
        <div id="description3" class="text-center">
          <p>Watch our scene setup which goes straight to the eye and heart S2!<br><br>
            Rendered both in eevee and cycles! ٩(◕‿◕｡)۶<br><br>
            <span>!!! If you want to download a picture don't forget to signin !!!</span><br><br>
            If you wish to test our image processing feature go to the next slide.
          </p>
        </div>
        <i class="fas fa-caret-right"></i>
      </div>
      <div class="slide" id="image-processing" data-anchor="image-processing">
        <i class="fas fa-caret-left"></i>
        <div class="slide2-img">
          <h2>Try our face morphing algorithm!</h2>
          <p>For best results, pick two profile images of similar view and size. After you signin, please click on the "Choose file" button to upload a picture.<br>
          After a few seconds you will be able to download the morphed face!</p>
          <div class="uploadbuttons">
            <form>
              <input type="file" id="picture1">
              <div id="appendimg1"></div>
            </form>
            <form>
              <input type="file" id="picture2">
              <div id="appendimg2"></div>
            </form>
          </div>
          <div id="getResult">
            <button id="resbtn">Show result</button>
            <button id="downloadbtn"><i class="bi bi-cloud-download">Download</i></button>
            <div id="appendResult"></div>
          </div>
        </div>
      </div>
    </div>

    <!-- PAGE 4 VIDEO SLIDER  -->
    <div class="section text-center container-fluid" id="section4" data-anchor="videos">
      <h1>VIDEOS</h1>
      <br>
      <h3>Take a look at the rendered animations!</h3>
      <br>
      <div class="splide">
        <!-- root -->
        <div class="splide__track">
          <!-- track -->
          <ul class="splide__list">
            <% videos.videos.forEach(function(video) { %>
            <li class="splide__slide">
              <a href="<%= video.href %>" data-lity>
                <img class="thumbnail" data-splide-lazy="<%= video.src %>" alt="<%= video.alt %>">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 511.999 511.999" class="video-btn">
                  <path
                    d="M443.86,196.919L141.46,10.514C119.582-2.955,93.131-3.515,70.702,9.016c-22.429,12.529-35.819,35.35-35.819,61.041
                                                        			v371.112c0,38.846,31.3,70.619,69.77,70.829c0.105,0,0.21,0.001,0.313,0.001c12.022-0.001,24.55-3.769,36.251-10.909
                                                        			c9.413-5.743,12.388-18.029,6.645-27.441c-5.743-9.414-18.031-12.388-27.441-6.645c-5.473,3.338-10.818,5.065-15.553,5.064
                                                        			c-14.515-0.079-30.056-12.513-30.056-30.898V70.058c0-11.021,5.744-20.808,15.364-26.183c9.621-5.375,20.966-5.135,30.339,0.636
                                                        			l302.401,186.405c9.089,5.596,14.29,14.927,14.268,25.601c-0.022,10.673-5.261,19.983-14.4,25.56L204.147,415.945
                                                        			c-9.404,5.758-12.36,18.049-6.602,27.452c5.757,9.404,18.048,12.36,27.452,6.602l218.611-133.852
                                                        			c20.931-12.769,33.457-35.029,33.507-59.55C477.165,232.079,464.729,209.767,443.86,196.919z" />
                  <defs>
                    <linearGradient id="MyGradient">
                      <stop offset="5%" stop-color="#00FFFF" />
                      <stop offset="95%" stop-color="#20B2AA" />
                    </linearGradient>
                  </defs>
                </svg>
              </a>
              <p><%= video.desc %></p>
            </li>
            <% }) %>
          </ul>
        </div>
      </div>
    </div>

    <!-- PAGE 5 -->
    <div class="section container-fluid" id="section5" data-anchor="shop">
      <h1 class="text-center">SHOP</h1>
      <!-- SHOP FORM-->
      <div class="shop-form">
        <div class="head">
          <div></div>
          <a>PLEASE ENTER THE DELIVERY DETAILS</a>
          <div></div>
        </div>
        <div class="tabs">
          <form>
            <div class="alert_msg"></div>
            <div class="inputs">
              <div class="input">
                <input placeholder="Name" type="text" id="stext" name="name" required>
                <i class="bi bi-person-circle"></i>
              </div>
              <div class="input">
                <input placeholder="Email" type="email" id="semail" name="email" required>
                <i class="bi bi-envelope"></i>
              </div>
            </div>
            <div id="shop-btns">
              <button id="shop-back">Go back</button>
              <button id="shop-confirm">Confirm</button>
            </div>
          </form>
        </div>
      </div>

      <div class="row shop-container">
        <!-- SHOP SLIDER -->
        <div id="shop1" class="col-md-8 col-md-70">
          <div class="splide" id="shop-splide">
            <div class="splide__track">
              <ul class="splide__list">
                <% items.images.forEach(function(item) { %>
                  <li class="splide__slide" data-item-id="<%= item.id %>">
                    <a class="myshopbox" href="shop/full/<%= item.imgName %>" title="<%= item.name %>"
                      onContextMenu="return false;">
                      <img class="shop-img img-fluid" src="shop/thumbs/<%= item.thumbName %>" alt="<%= item.imgName %>">
                    </a>
                    <div class="row">
                      <p class="price col">$<%= item.price / 100 %>
                      </p>
                      <p class="desc col">
                        <%= item.name %>
                      </p>
                      <button class="shopbtn col">add</button>
                    </div>
                  </li>
                  <% }) %>
              </ul>
            </div>
          </div>
        </div>

        <!-- SHOPPING CART -->
        <div id="cart" class="col-md-4 col-md-30">
          <h2>CART</h2>
          <div class="row cart-row">
            <span class="col">ITEM</span>
            <span class="col">PRICE</span>
            <span class="col">QUANTITY</span>
          </div>
          <div id="cart-border"></div>

          <div class="cart-items"></div>

          <div class="cart-total">
            <strong class="cart-total-title">Total</strong>
            <span class="cart-total-price">$0</span>
          </div>
          <button class="btn-purchase" type="button">PURCHASE</button>
        </div>
      </div>

    </div>

    <!-- PAGE 6 -->
    <div class="section text-center container-fluid" id="section6" data-anchor="contact">
      <h1>Contact us</h1>
      <div class="contact-form">
        <p>If you have any questions, suggestions or feedback, please do not hesitate to contact us!
          ٩(๑･ิᴗ･ิ)۶٩(･ิᴗ･ิ๑)۶</p>
        <div class="align">
          <img class="logo" src="media/butterfly.png">
          <div class="card">
            <div class="head">
              <div></div>
              <a>Contact us</a>
              <div></div>
            </div>
            <div class="tabs">
              <form>
                <div class="alert_msg"></div>
                <div class="inputs">
                  <div class="input">
                    <input placeholder="Name" type="text" id="ctext" required>
                    <i class="bi bi-person-circle"></i>
                  </div>
                  <div class="input">
                    <input placeholder="Email" type="email" id="cemail" required>
                    <i class="bi bi-envelope"></i>
                  </div>
                  <div class="input">
                    <input placeholder="Your message" type="text" id="cmessage" required>
                    <i class="bi bi-chat-dots"></i>
                  </div>
                </div>
                <button id="send">Send</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--fullpage end-->
  <div id="footer">
    <i class="bi bi-caret-down-fill"></i>
    <p>SCROLL DOWN</p>
  </div>
</body>

</html>